.object-details-modal-body {
  .object-selector {
    display: inline-block;
    min-width: 150px;
    margin-right: 10px;
  }

  .link-selector {
    display: inline-block;
    min-width: 150px;
    margin-right: 10px;
  }

  .connections-container {
    .connection {
      margin-bottom: 10px;
      padding-bottom: 6px;
      border-bottom: solid 1px lightgray;
      display: flex;
      flex-wrap: wrap;
      margin-top: -10px;

      > * {
        margin-top: 10px;
      }

      .buttons {
        display: inline;
      }
    }
  }
}
