line {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 1px;
}

.node ellipse {
    stroke: #999;
    stroke-width: 1px;
    cursor: pointer;
    fill: #ffffff;
}

.node.selected ellipse {
    stroke: #555;
    stroke-width: 1.5px;
    cursor: pointer;
    fill: #cce6ff;
}

.node .nodeText{
    cursor: pointer;
}

.node.selected .nodeText{
    font-weight: bold;
}

.link text{
    cursor:pointer;
    fill: #555;
}

.link text:hover{
    fill: #000033;
}