html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#main-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.cp-holder{
    position: fixed;
    right:0;
    top:0;
}